div {
    text-align: justify;
    text-justify: inter-word;
}

.wide {
    width: 300px;
}

.ai_prediction {
    width: 60%;
    margin-left: 5%;
    margin-right: auto;
    text-align: left;
    border: 1px solid #000000;
}

.ai_prediction th{
    padding: 10px;
    background-color: #eee;
}

.tab_slider {
    width: 60%;
    margin-left: 5%;
    margin-right: auto;
}

.real_estate_properties {
    width: 60%;
    margin-left: 5%;
    margin-right: auto;
    text-align: center;
    border: 1px solid #dddddd;
}

.real_estate_properties td, .real_estate_properties th{
    padding: 10px;
}

.real_estate_properties tr:nth-child(odd){
    background-color:#eee;
}

.real_estate_properties td:nth-child(1) {
  font-weight: bold;
  text-align: left;
  padding-right: 20px;
}

.likert th, .likert td {
    width: auto;
    border: 1px solid #dddddd;
    text-align: center;
    margin:20px;
    padding: 8px;
}
td.likert_label {
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
}
td.likert_label:first-child{
    min-width: 200px;
}
td:hover.likert_choice {
    background-color: #ddd;
}
.likert tr:nth-child(even) {
    background-color: #f2f2f2;
}

.importance-table td, .importance-table th {
    width: auto;
    border: 1px solid #dddddd;
    text-align: left;
    vertical-align: text-top;
    margin: 20px;
    padding: 8px;
}
.importance-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

td.importance-slider {
    vertical-align: middle;
    width: 500px;
    height: 130px;
    padding: 30px;
}